@use '../variables.scss' as *;
@use '../mixins/global-mixins.scss' as *;

.hero_slider {
    
}

.hero_slider__wrap {    
    .swiper-slide-active {
        z-index: 3;
    }
}

.hero_slider__swiper {
}

.hero_slider__swiper_wrap {
    
}

.hero_slider__item {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // padding: calc(var(--header-height) + 30px) 0; 
    
    @include breakPoints($tablet, min) {               
        min-height: calc(100svh - var(--header-height) - var(--announcement-bar-height));       
    }

    @include breakPoints($tablet) {
        min-height: 516px;
    }
}

.hero_slider__picture_link {
    display: block;    
}

.hero_slider__picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    &::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.5;
        pointer-events: none;
    }
}

.hero_slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.hero_slider__img--desktop {
        @include breakPoints($tablet) {
            display: none;
        }
    }

    &.hero_slider__img--mobile {
        @include breakPoints($tablet, min) {
            display: none;
        }
    }
}

.hero_slider__content_wrap {
    padding: 0 var(--gl-indent);
    width: 100%;
}

.hero_slider__content {   
    position: relative; 
    z-index: 1;      
}

.hero_slider__title {    
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: inherit;    

    @include breakPoints($tablet, min) {
        font-size: 80px;
    }

    @include breakPoints($tablet) {
        font-size: 46px;
    }

    &:not(:last-child) { 
        
        @include breakPoints($tablet, min) {
            margin-bottom: 10px;
        }
    
        @include breakPoints($tablet) {
            margin-bottom: 20px;
        }
    }
}

.hero_slider__description {    
    font-style: normal;
    font-weight: 500;
    color: inherit;     

    @include breakPoints($tablet, min) {
        font-size: 28px;
        line-height: 1.28;
    }

    @include breakPoints($tablet) {
        font-size: 18px;
        line-height: 1.44;
    }

    &:not(:last-child) { 
        margin-bottom: 52px;
    }
}

.hero_slider__btn_wrap {
}

.hero_slider__btn {
    pointer-events: auto;
    color: $black;

    &:hover {
        background-color: $white!important;
    }
}

.hero_slider__swiper_controls {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.hero_slider__swiper_control {
    color: $white;
    padding: 10px;
    cursor: pointer;
    
    &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.hero_slider__swiper_control_icon {
    width: 16px;
    height: 26px;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.hero_slider__swiper_prev {
}

.hero_slider__swiper_next {
}

.hero_slider__swiper_pagination {
    padding: 10px 0;

    &.swiper-pagination {
        position: unset;
        width: auto;
    }

    .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 50%;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        border-color: $gray;
    }
}

