/*!**************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/announcement-bar.scss ***!
  \**************************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ===================================================== FORM ==================================================== */
.announcement_bar {
  padding: 0 var(--gl-indent);
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.announcement_bar .swiper {
  max-width: 500px;
}

.announcement_bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.announcement_bar__announce {
  text-align: center;
}
.announcement_bar__announce span {
  color: #ffffff;
}
